{% extends "base.html" %} {% load static %} {% block titulo %}Hospital Napoleão
Laureano - Guia Médico{% endblock titulo %} {% block body %}

<div class="navegacao">
  <ul class="row-j-start">
    <li>
      <a class="navegacao-link" href="{% url 'home' %}">
        Início
        <i class="uil uil-angle-double-right"></i>
      </a>
    </li>
    <li>
      <a class="navegacao-link" href="{% url 'guia-medico' %}"> Guia Médico </a>
    </li>
  </ul>
</div>

<h1 class="pags-title">Guia Médico</h1>

<section class="pags-section column-center">
  {% for esp in especialidade %}
  <div class="list-header">
    <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
    <h3 class="list-title">{{ esp.Especialidade }}</h3>
  </div>
  <ul class="list-wrapper">
    {% for med in medico %} {%if esp.Especialidade == med.Especialidade%}
    <li class="list-item">{{ med.Nome}}</li>
    {% endif %} {% endfor %}
  </ul>
  <div class="dividing-line dividing-line--list"></div>
  {% endfor %}
</section>

<script type="text/javascript" src='{% static "/scripts/guia.js" %}'></script>

{% endblock body %}
