{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/principal.css' %}">
{% endblock css %}
{% block titulo %}HOSPITAL LAUREANO - NOTICIAS{% endblock titulo %}


{% block body %}

<h1>TESTE - NOTICIAS</h1>



{% for item in noticia %}  
<ul>
    <li>
        <img src="/image/{{ item.Imagem }}" width="250"> 
        <br>      
        Titulo: {{ item.Titulo }}
        <br>
                {{ item.Subtitulo }} 
        <br>
        {{ item.Corpo }}
    </li>
</ul> 
       
    
{% endfor %} 


<a class="mx-auto my-0 text-uppercase text-amarelo mx-auto mt-2 mb-5 style=" href="{% url 'home' %}">Back</a>
{% endblock body %}